.items__container {
    width: 950px;
    display: flex;
    flex-direction: column;
}

.items__menu {
    width: 300px;
    border-right: 1px dashed rgb(10, 200, 4);
}

.items__sort-menu {
    display: flex;
    margin-top: 20px;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 30px;
}

.items__sort-menu label {
    margin-right: 15px;
}

.items__sort-order {
    margin-left: 15px;
}

.items__container ul {
    display: flex;
    flex-wrap: wrap;
}

.items__container ul li {
    margin: 10px;
    border: 2px solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
}

.items__container ul li:hover {
    border-style: 2px solid blue;
}

.item-image {
    margin-top: 15px;
    width: 200px;
    height: 200px;
    align-self: center;
}

.item-description {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.item-description h3 {
    margin-top: 8px;
}

.item-description label {
    margin-top: 3px;
    margin-bottom: 3px;
}

.item-buttons button {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 90px;
    height: 30px;
    cursor: pointer;
}

.item-buttons button:hover {
    border-style: solid;
}

.item-edit-button {
    border-color: blue;
    color: solid blue;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 7px;
}

.item-remove-button {
    border-color: red;
    color: solid red;
    font-size: 18px;
}
