.items__search {
    margin-left: 20px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgb(200, 200, 168);
}

.items__search-menu {
    margin-top: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.items__search form {
    margin: 0;
}

.items__search form div {
    padding-top: 3px;
    padding-bottom: 3px;
}

.items__search input {
    margin-left: 2px;
    margin-right: 2px;
    width: 80px;
}

#items__search-parameter {
    margin-left: 7px;
}

.items__search button {
    font-size: 20px;
    color: blue;
    margin-top: 15px;
    margin-left: 5px;
    width: 100px;
    cursor: pointer;
}

.items__search button:hover {
    border-style: solid;
}
