.items__manager {
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgb(168, 168, 168);
    display: flex;
    flex-direction: column;
}

.items__manager h2 {
    margin-bottom: 10px;
}

.items__manager input {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 2px;
    max-width: 200px;
}

.items__manager button {
    font-size: 20px;
    color: violet;
    margin-top: 15px;
    margin-left: 5px;
    width: 100px;
    border-color: violet;
    cursor: pointer;
}

.items__manager button:hover {
    border-style: solid;
}
