.stories > div {
    max-width: 1120px;
    margin: 0px 46px 0px 10px;
}

.stories__header {
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stories__view-all {
    margin-top: 10px;
    align-items: center;
    display: flex;
}

.stories ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stories ul li {
    max-width: 261px;
    padding: 0px 9px 15px 9px;
}

.stories__veiw-all-arrow {
    width: 27px;
    height: 12px;
}

.stories__view-all-text {
    font-size: 17px;
    transition: color 500ms;
}

.stories__view-all-text:hover {
    color: #ffa443;
}

.story__image {
    width: 261px;
    height: 233px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center top;
    transition: opacity 500ms;
}

.story__image:hover {
    opacity: 0.87;
}

.story__title {
    color: black;
    margin-top: 13px;
    max-width: 255px;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    transition: color 500ms;
}

.story__title:hover {
    color: #4d4d4d;
}

.story__paragraph {
    margin-top: 13px;
    max-width: 255px;
    font-family: Inter;
    font-size: 15px;
    line-height: 26px;
}

.story__read-more {
    margin-top: 23px;
    font-weight: 600;
    font-size: 15px;
}

.story__read-more:hover {
    color: #ffa443;
}

@media screen and (max-width: 1150px) {
    .stories > div {
        max-width: 1024px;
        margin: 0px 46px 0px 10px;
    }

    .stories__header {
        margin-left: 10px;
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .stories > div {
        max-width: 1120px;
        margin: 0 auto;
    }

    .stories__header {
        margin: 0;
        max-width: 1120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


